doctype
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
    meta(name="description", content="思いついた川柳を思いつくままに投稿するWebサイト")
    meta(name="keywords", content="たてよこWebアワード,川柳,せんりう")
    meta(property='og:title', content='せんりう')
    meta(property='og:type', content='website')
    meta(property='og:url', content=`http://senriu.com/work/${senriu.urlId}`)
    //meta(property='og:image', content='ここにサムネイル画像のURL')
    meta(property='og:description', content=`${senriu.author} 「${senriu.col1} ${senriu.col2} ${senriu.col3}」 あなたもオリジナル川柳を詠もう！`)
    meta(property='og:site_name', content='オリジナル川柳投稿サイト')
    //- meta(property='fb:admins', content='adminID（15文字の半角数字）')
    //- meta(property='article:publisher', content='FacebookページURLかID')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@senriu_official')
    meta(name='twitter:title', content='オリジナル川柳投稿サイト')
    meta(name='twitter:description', content='思いついた川柳を思いつくままに投稿するWebサイト')
    //meta(name='twitter:image', content='#')
    meta(name='twitter:url', content='http://senriu.com/')
    title せんりう
  body
    div#app
    script(src="/js/app.js")